<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>drugsNames</title>
</head>
<body>

<form th:action="@{/addDrug}" method="post">
    <input type="hidden" th:name="userId" th:value="${userId}">

    <select class="drugsList" th:name="drugId" >
        <option value="0">Select Drug</option>
        <option th:each="drug : ${drugs}"  th:value="${drug.getDrugId()}" th:text="${drug.getDrugName()}"></option>
    </select>
    <button type="submit">Add Drug</button>
</form>

</body>
</html>